* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/Background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #8e87fa;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.container-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 10% 15%;
}

.time-main {
  background-image: url(./assets/Temperature\ Now-2.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 10px;
  width: 480px;
  height: 480px;
}

.celsius {
  display: flex;
  position: absolute;
  left:33.5%;
  top: 33%;
  font-size: 24px;
  color: #dad8f7;
}

.location {
  display: flex;
  align-items: center;
  margin-left: 320px;
  margin-top: 33.5px;
}

.location h2 {
  color: #c2bff4;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}

.temperature {
  margin-top: 60px;
  text-align: center;
}
.temperature h1 {
  color: #ffffff;
  font-size: 88px;
  font-weight: 700;
  position: relative;
}

.temperature span {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.temperature span:last-child {
  color: #c2bff4;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6em;
  gap: 8px;
  margin-left: 18px;
  margin-right: 18px;
}
.wind {
  background: rgba(102, 96, 200, 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 33%;
  align-items: center;
  color: #e7e6fb;
  border-radius: 8px;
  height: 60px;
  margin-top: 40px;
}

.wind h2 {
  font-size: 12px;
  font-weight: 400;
  color: #e7e6fb;
}

.wind-speed {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 5px;
  align-items: flex-end;
}

.wind-speed span {
  font-size: 14px;
}

.content-wind {
  margin-right: 28px;
}
.wind img {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: 14px;
}

.umidade {
  background: rgba(102, 96, 200, 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 33%;
  align-items: center;
  color: #e7e6fb;
  border-radius: 8px;
  height: 60px;
  margin-top: 40px;
}

.umidade h2 {
  font-size: 12px;
  font-weight: 400;
  color: #e7e6fb;
}

.content-umidade {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 5px;
  align-items: flex-end;
  margin-right: 45px;
}
.content-umidade span {
  font-size: 14px;
}

.umidade img {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: 14px;
}

.chuva {
  background: rgba(102, 96, 200, 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 33%;
  align-items: center;

  color: #e7e6fb;
  border-radius: 8px;
  height: 60px;

  margin-top: 40px;
}

.chuva img {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: 14px;
}

.chuva h2 {
  font-size: 12px;
  font-weight: 400;
  color: #e7e6fb;
}

.content-chuva {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 5px;
  align-items: flex-end;
  margin-right: 45px;
}

.content-chuva span {
  font-size: 14px;
}
.cloud-icon {
  position: absolute;
  margin-left: 12%;
  top: 14%;
}

.quality-air {
  background-color: #6D67D0;
  width: 277px;
  height: 244px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-left: 2rem;
}

.content-air {
  display: flex;
 justify-content: center;
 margin-top: 33px;
 gap: 5px;
 align-items: center;
}
.content-air h1 {
  font-size: 16px;
  color: #DAD8F7;
  font-weight: 700;
}

.content-air-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  color: #DAD8F7;
}

.content-air-1 h3{
  color: #87EBCD;
  font-size: 18px;
}

.content-air-1 h1 {
  color:#E7E6FB;
  font-size: 40px;  
}

.content-columns {
  display: flex;
  gap: 16px;
  padding: 0px 10px;
  margin-top: 44px;
  margin-bottom: 16px;
  align-items: center;

}

.content-columns h3 {
  color: #87EBCD;
  font-size: 14px;
}

.content-columns span {
  color: #E7E6FB;
  font-size: 12px;
}

.content-columns-air {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-sun {
  background-color: #6D67D0;
  border-radius: 8px;
  height: 244px;
  margin-left: 24px;
  width: 277px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content-sun {
  display: flex;
 gap: 5px;
 align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.content-sun h2{
  font-size: 16px;
  color:#DAD8F7;
}

.img-sun {
  margin-top: 24px;

}

.previsao-tempo {
  display: grid;
  background-color: #6D67D0;
  border-radius: 8px;
  grid-area: 2 / 2 / auto / span 3;
  height: 212px;
  margin-top: -212px;
  margin-left: 32px;

 
}

.time-content {
  width: 100%;
 display: flex;
align-items: center;



}

.time-p {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
}
.time-p h1 {
  font-size: 14px;
  color: #DAD8F7;
} 
.time-p span {
  color: #C2BFF4;
  font-size: 16px;
}
.time-p h3 {
  color:#ffffff;
  font-size: 16px;
}

.temperature-time {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2px;
}
